#navbar-left{
    margin: -10px;
    padding: 5px;
    align-items: center;
    display: flex;
    font-size: 15px;
    background-color: lightgray;
    }
    
    .bartext {
        padding: 5px;
    }



    .bartext button {
        background-color: lightgray;
        border: 3px black solid;
        color: white;
        text-align: center;
        display: inline-block;
        font-size: 13px;
    }
    
    .bartext :hover {
        background-color: rgb(125, 125, 125);
        transition: 0.9s;
    }

    img {
        width: 40px;
        height: auto;

    }

    #cim {
    text-align: center;
}

#logobutton {
    background-color: lightgray;
    border: black 5px solid;
}

#navbutton {
    text-decoration: none;
    color: black;
}
    #cim {
        text-align: center;
    }